body {
  background-color: #3c5186;
  text-align: center;
}

.btn {
  width: 200px;
  height: 200px;
  margin: 30px;
  border-radius: 20%;
  border: 10px solid black;
}

.reset {
  width: 100px;
  height: 50px;
  border-radius: 20%;
  border: 5px solid black;
  margin-top: 100px;
}

@media screen and (max-width: 780px) {
  .btn {
    width: 100px;
    height: 100px;
    margin: 20px;
  }

  .container {
    display: inline;
  }

  .reset {
    width: 50px;
    height: 50px;
    margin-top: 50px;
  }
}

.container {
  margin: auto;
  width: 50%;
}

.level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 4rem;
  color: #ecd662;
  margin-bottom: 100px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
